<div class="sidebar">
  <h3 class="display-6">Controls</h3>
  <hr>
  <p class="lead">Basic Settings</p>
  <div class="menu-items">
    <mat-slide-toggle style="margin-bottom: 15px">Sample Present</mat-slide-toggle>
    <form>
      <mat-form-field>
        <mat-label>No. of Runs</mat-label>
        <input matInput value="2" type="number">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Decay time (secs)</mat-label>
        <input matInput value="4" type="number">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Room Volume</mat-label>
        <mat-select value="white">
          <mat-option value="white">White</mat-option>
          <mat-option value="pink">Pink</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Noise Type</mat-label>
        <mat-select value="T20">
          <mat-option value="T20">T20</mat-option>
          <mat-option value="T30">T30</mat-option>
          <mat-option value="Max">Max</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mounting</mat-label>
        <mat-select value="A">
          <mat-option value="A">A Mounting</mat-option>
          <mat-option value="A_Cavity">A Mounting (Cavity)</mat-option>
          <mat-option value="E200">E200 Mounting</mat-option>
          <mat-option value="E400">E400 Mounting</mat-option>
          <mat-option value="G">G Mounting</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <mat-slide-toggle>Save Raw Data</mat-slide-toggle>
  </div>
  <hr>
  <p class="lead">Environment</p>
  <div class="menu-items">
    <mat-form-field>
      <mat-label>Temperature (°C)</mat-label>
      <input matInput value="20" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Room Humidity (%)</mat-label>
      <input matInput value="60" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pressure (kPa)</mat-label>
      <input matInput value="101" type="number">
    </mat-form-field>
  </div>
  <hr>
  <button mat-button style="background-color: dodgerblue; color: white; margin-left: 15px">Start Measurement</button>
  <button mat-button style="background-color:green; color: white; margin-left: 15px">Save As</button>
</div>

<div class="main-content">
    <div style="width: 30%; height: 60%; position: fixed;">
      <h3 class="display-6" style="margin-left: 5%">Job Info</h3>
      <form style="margin-left: 6%; margin-top: 13px; width: 20%">
        <mat-form-field>
          <mat-label>Job Number</mat-label>
          <input matInput placeholder="Job No." type="number">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Client Name</mat-label>
          <input matInput placeholder="Client Name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Name of Specimen</mat-label>
          <input matInput placeholder="Name of Specimen">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Description of Specimen</mat-label>
          <input matInput placeholder="Description of Specimen">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Size of Specimen</mat-label>
          <input matInput placeholder="Size of Specimen">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Mass of Specimen</mat-label>
          <input matInput placeholder="Mass of Specimen" type="number">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Area of Specimen</mat-label>
          <input matInput placeholder="Area of Specimen" type="number">
        </mat-form-field>
      </form>
    </div>
    <div style="left: 50%; height: 60%; width: 50%; position: fixed;">
      <h3 class="display-6">Logs</h3>
      <textarea rows="15" cols="50" disabled>{{logs}}</textarea>
    </div>
  <div style="top: 60%; width: 80%; position: fixed">
    <h3 class="display-6" style="margin-left: 5%">Frequency Table</h3>

    <table class="table" style="margin-left: 30px; width: 80%" >
      <thead>
      <tr>
        <td></td>
        <th scope="col">100</th>
        <th scope="col">125</th>
        <th scope="col">200</th>
        <th scope="col">250</th>
        <th scope="col">315</th>
        <th scope="col">400</th>
        <th scope="col">500</th>
        <th scope="col">630</th>
        <th scope="col">800</th>
        <th scope="col">1000</th>
        <th scope="col">1250</th>
        <th scope="col">1600</th>
        <th scope="col">2000</th>
        <th scope="col">2500</th>
        <th scope="col">3150</th>
        <th scope="col">4000</th>
        <th scope="col">5000</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Reverb Time</th>
        <td>{{dataSource["100"].RT}}</td>
        <td>{{dataSource["125"].RT}}</td>
        <td>{{dataSource["200"].RT}}</td>
        <td>{{dataSource["250"].RT}}</td>
        <td>{{dataSource["315"].RT}}</td>
        <td>{{dataSource["400"].RT}}</td>
        <td>{{dataSource["500"].RT}}</td>
        <td>{{dataSource["630"].RT}}</td>
        <td>{{dataSource["800"].RT}}</td>
        <td>{{dataSource["1000"].RT}}</td>
        <td>{{dataSource["1250"].RT}}</td>
        <td>{{dataSource["1600"].RT}}</td>
        <td>{{dataSource["2000"].RT}}</td>
        <td>{{dataSource["2500"].RT}}</td>
        <td>{{dataSource["3150"].RT}}</td>
        <td>{{dataSource["4000"].RT}}</td>
        <td>{{dataSource["5000"].RT}}</td>
      </tr>
      <tr>
        <th scope="row">Pass/Fail</th>
        <td>{{dataSource["100"].PF}}</td>
        <td>{{dataSource["125"].PF}}</td>
        <td>{{dataSource["200"].PF}}</td>
        <td>{{dataSource["250"].PF}}</td>
        <td>{{dataSource["315"].PF}}</td>
        <td>{{dataSource["400"].PF}}</td>
        <td>{{dataSource["500"].PF}}</td>
        <td>{{dataSource["630"].PF}}</td>
        <td>{{dataSource["800"].PF}}</td>
        <td>{{dataSource["1000"].PF}}</td>
        <td>{{dataSource["1250"].PF}}</td>
        <td>{{dataSource["1600"].PF}}</td>
        <td>{{dataSource["2000"].PF}}</td>
        <td>{{dataSource["2500"].PF}}</td>
        <td>{{dataSource["3150"].PF}}</td>
        <td>{{dataSource["4000"].PF}}</td>
        <td>{{dataSource["5000"].PF}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
